.experience {
  .container {
    width: 50%;
  }
  .home-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    p {
      line-height: 30px;
    }
    .label {
      font-weight: bold;
      opacity: 0.5;
    }
    .details {
      max-width: 500px;
      ul {
        li {
          margin-bottom: 40px;
          position: relative;
        }
      }
      &.skills {
        line-height: 30px;
      }
      .sub-text {
        opacity: .6;
        font-family: SF Mono,Inconsolata,monospace;
      }
    }
  }
}

@media (min-width: 769px) {
  .home-row .details {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .experience .home-row {
    display: block;
  }
}

@media (max-width: 800px) {
    .experience .container {
      width: 80%;
    }
}

@media (max-width: 1024px) {
  .experience .container {
    width: 75%;
  }
}
