<div class="experience">
  <div class="container">
    <div class="home-row">
      <p class="label">Currently</p>
      <div class="details">
        <p>Designing and Developing Multinational Program Project at AIG</p>
      </div>
    </div>
    <div class="home-row">
      <p class="label">Past Activity</p>
      <div class="details">
        <ul>
          <li>
            <p>InterContinental Hotel Group, Atlanta, GA</p>
            <p class="sub-text">Architect, Design and Development</p>
          </li>
          <li>
            <p>Apple, Sunnyvale, CA</p>
            <p class="sub-text">Design and develop single page applications</p>
          </li>
          <li>
            <p>Intel, Hillsboro, OR</p>
            <p class="sub-text">Design, front-end development</p>
          </li>
          <li>
            <p>Sapient, Bangalore, KA</p>
            <p class="sub-text">front-end development</p>
          </li>
          <li>
            <p>Cognizant Technology Solutions, Bangalore, KA</p>
            <p class="sub-text">Design, front-end development</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="home-row">
      <p class="label">Skills</p>
      <div class="details skills">
        <p>Web Technologies, Version Control, Frontend Tools, Software Mgmt.</p>
        <p class="sub-text">HTML, CSS, Javascript, JQuery, Bootstrap, Angular 1.x, Angular 2+, Node</p>
        <p class="sub-text">RWD, Google Analytics, Accessability</p>
        <p class="sub-text">GitHub, GitLab, BitBucket, JIRA, Rally, Radar</p>
      </div>
    </div>
  </div>
</div>
